@landing-top-padding: 20px;
@landing-bottom-padding: 20px;
@landing-background-color: #000000;
@landing-background: url("/images/pw_maze_black.png");

#landing {
    padding-top: @landing-top-padding;
    padding-bottom:@landing-bottom-padding;
    background-color: @landing-background-color;
    background: @landing-background;
}

@landing-title-color: #8A2BE2;
@landing-title-text-align: center;

.landing-title {
    color: @landing-title-color;
    text-align: @landing-title-text-align;
}

@landing-description-margin-top: 30px;
@landing-description-margin-bottom: 30px;
@landing-description-text-align: center;
@landing-description-width: 600px;
@landing-description-font-size: 20px;
@landing-description-font-color: #FFFFFF;

.landing-description {
    margin: auto;
    margin-top: @landing-description-margin-top;
    margin-bottom: @landing-description-margin-bottom;
    text-align: @landing-description-text-align;
    width: @landing-description-width;
    font-size: @landing-description-font-size;
    color: @landing-description-font-color;
}

.center-descendants {
    text-align:center;
}

@instructions-background-color: #EEF2DC;

@instructions-padding: 20px;

#instructions {
    background-color: @instructions-background-color;
    padding-top: @instructions-padding;
    padding-bottom: @instructions-padding;
}

.instruction {
    text-align:center;
    margin-left:0;
}

@instruction-description-width: 60px;

.instruction-description {
    width: @instruction-description-width;
}